	

		<style type="text/css">
			.red{background-color: red;}
			.lightblue{background-color: lightblue;}
			.lightgreen{background-color: lightgreen;}
		</style>

		<script type="text/javascript" src="/angular/angular.min.js"></script>	
		<script type="text/javascript" src="/angular-animate/angular-animate.js"></script>	
		<script type="text/javascript" src="/angular-aria/angular-aria.min.js"></script>	
		<script type="text/javascript" src="/angular-material/angular-material.min.js"></script>
		<script>
			angular.module('MyApp',['ngMaterial'])
				.run(function(){
					console.log('MyApp is ready');
				});
		</script>	
	</body>
</html>
