<% include ../partials/header %>

	<div class="container" layout="row" flex>

		<md-sidenav md-is-locked-open="true" class="lightblue">
		<h1>Sidenav</h1>
		</md-sidenav>
		<md-content id="content" class="lightgreen" flex>
		<h1>content</h1>
		</md-content>

	</div>

<% include ../partials/footer %>